/2file.html
/30.html
/bbb.jpg
/bg.jpg
/codeee.html
/display.html
/flexb.html
/flexbox.html
/Food website
/foodbg.jpg
/gm.jpg
/gpt ex.html
/Group 351.svg
/gym.html
/gymlogo.png
/hovershms.html
/icon.png
/Icons
/media query.html
/Navigation.html
/New folder
/position.html
/pseudo selectors.html
/shadow.html
/sqb.css
/sqb.html
/sqb10.html
/sqb2.html
/sqb3.html
/sqbbuttons.html
/style.css
/tech logo.png
/transition.html
/veg.jpg